[submodule "back_end/quickstart"]
	path = back-end/quickstart
	url = https://github.com/plaid/quickstart.git
[submodule "back-end/quickstart"]
	path = back-end/quickstart
	url = https://github.com/plaid/quickstart.git
